html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


.navbar .flex-column a {
    margin-bottom: 5px; /* Shto pak hapësirë midis lidhjeve të navigimit */
}

.navbar .ms-auto {
    margin-left: auto; /* Sillo loginPartial në të njëjtën linjë me SMIS dhe vendose në të djathtë */
    display: flex;
    align-items: center;
}


.dropdown-menu {
    display: none;
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    transform: translate3d(0px, 38px, 0px);
}

    .dropdown-menu.show {
        display: block;
    }

.navbar .ms-auto {
    margin-left: auto; /* Sillo loginPartial në të njëjtën linjë me SMIS */
    align-items: center;
}


.login-logout-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nav-tabs .nav-link {
    font-weight: bold;
    color: #007bff;
}

    .nav-tabs .nav-link.active {
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
    }
